.div_maintb {
	height: calc(100vh - 180px);
	width:calc(100vw - 2px);
	overflow: scroll;
	border-right: 1px solid #909090;
	border-top: 1px solid #909090;
}

.div_maintb table {
	border-spacing: 0;
}
.div_maintb table tr.row_second { background:#E6F7FF}
.div_maintb table tr:hover { background:#C4E1E1; cursor:pointer}
.div_maintb table tr.row_second:hover { background:#C4E1E1; cursor:pointer}
.div_maintb th {
	position: sticky;
	top: 0;
	background: #99ccff;
	min-width: 30px;
	padding: 5px;
	border-left: 1px solid #909090;
	border-bottom: 1px solid #909090;
	font-weight: normal;
}

.div_maintb td {
	padding: 5px;
	border:0;
	border-left: 1px solid #909090;
	border-bottom: 1px solid #909090;
}

.div_maintb th:nth-child(1),
.div_maintb td:nth-child(1) {
	position: sticky;
	left: 0;
	width: 30px;
	min-width: 30px;
}

.div_maintb th:nth-child(2),
.div_maintb td:nth-child(2) {
	position: sticky;
	left: 41px;
	width: 30px;
	min-width: 30px;
}

.div_maintb th:nth-child(3),
.div_maintb td:nth-child(3) {
	position: sticky;
	left: 82px;
	width: 110px;
	min-width: 110px;
}
.div_maintb th:nth-child(4),
.div_maintb td:nth-child(4) {
	position: sticky;
	left: 203px;
	width: 60px;
	min-width: 60px;
}
.div_maintb th:nth-child(5),
.div_maintb td:nth-child(5) {
	position: sticky;
	left: 274px;
	width: 150px;
	min-width: 150px;
}
.div_maintb td:nth-child(1),
.div_maintb td:nth-child(2),
.div_maintb td:nth-child(4){
	background: #FFD;
	z-index: 300;
}
.div_maintb td:nth-child(3){
	background: #FFE7CE;
	z-index: 300;
}
.div_maintb td:nth-child(5){
	background: #E8FFE8;
	z-index: 300;
}

.div_maintb th:nth-child(1),
.div_maintb th:nth-child(2),
.div_maintb th:nth-child(3),
.div_maintb th:nth-child(4),
.div_maintb th:nth-child(5){
	z-index: 500;
}
.ui-datepicker{z-index: 1000 !important};