/* CSS Document */
body {
	font-family:Arial;
	font-size:12px;
	line-height:1.6;
	margin:0px;
}
p { padding:0; margin:0 ; margin-bottom:5px}

.cap{
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}
.title-h2{
	font-size: 14px;
	font-weight: bold
}
.title-h3{
	font-size: 14px;
}
.button_ck{
	font-size: 16px;
    padding: 5px 10px;
	background: #0095b7;
    color: #fff;
}
.mod_node{ 
	display:inline-block; width:200px; 
	border:1px solid #CCC; background:#E1E1E1; 
	margin-top:10px; margin-left:20px;
	padding:10px 20px;
	text-align:center
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #c7c7c7;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip-bottom {
    top: 135%;
    left: -250%;
    margin-left: -60px;
}
.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}
ins,a{text-decoration:none}
del{text-decoration:line-through}
/*table{border-collapse:collapse;border-spacing:0}*/
a:focus,a:hover{color:#000}
blockquote{margin:1.5em;color:#666;font-style:italic}
strong,dfn,dl dt,th{font-weight:bold}
em,dfn,tfoot{font-style:italic}sup,sub{line-height:0}abbr,acronym{border-bottom:1px dotted #666}
address{margin:0 0 1.5em;font-style:italic}del{color:#666}pre{margin:1.5em 0;white-space:pre}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5}
.fl { float:left}
.fr { float:right}
.clear {
    clear: both;
}
.noborder {
    border: 0 !important;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
a {
	text-decoration: none;
	color:#3366CC;
}
a:hover {
	color: #FF9933;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
input[type=text],input[type=password] {
	border:1px solid #CCC; padding:6px 5px;width: 98%;
	color:#005782;
	font-size:12px
}
input[type=submit]{
	border:0; padding:8px;
	background:#F00;
	color:#FFF;
	text-align:center;
	cursor:pointer;
	font-size:13px;
}
input[type=reset], input[type=button]{
	border:0; padding:8px;
	color:#fff;
	background:#007fbb;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}
button[disabled]:active, button[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] ,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover
{
  color:#999;
  cursor: inherit;
  background: #ddd;
}
select{
	border:1px solid #CCC; padding:4px 	
}
.cssContent {
	color:#000000;
}

.cssSubTitle {
	font-weight:bold;
	font-size:13px;
	color:#003366;
	margin-bottom:5px;
}
.cssTitle {
	font-weight:bold;
	font-size:18px;
	color:#003366;
}
.cssfooter {
	font-size:11px;
	font-weight:normal;
	color:#666666;
}
.cssheader {
	margin-left:5px;
}
.seprated{
	padding-top:15px;
	padding-bottom:10px;
	border-top: 1px dashed #C39C4E;
}
.clogin {
	border: 1px solid #B9B9B9;
	padding:30px 20px;
	width:380px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
    border-radius: 8px;
}
.dcontent {
	margin:10px 0;
}
.chome {
	background:url(../images/home.png) no-repeat center left;
	padding-left:20px;
	display:inline-block;
}
.ckey {
	background:url(../images/key.png) no-repeat center left;
	padding-left:20px;
	display:inline-block;
}
.clogout {
	background:url(../images/logout.png) no-repeat center left;
	padding-left:20px;
	display:inline-block;
}
.cedit {
	background:url(../images/edit.png) no-repeat center left;
	padding-left:20px;
	display:inline-block;
}

table.list {
    background: #FFF;
    border-collapse:collapse;
    width: 100%;
	empty-cells: show;
	border-top: 1px solid #b8c4cd;
	border-right: 1px solid #b8c4cd;
	margin-bottom:10px
}

table.list tbody {
    
}

table.list tbody.second {
    background:#F3F3F3
}

table.list tbody.ilimit {
    background:#FF9
}
table.list tbody.limit {
    background:#FCF
}
table.list tbody:hover {
 	
}
table.list td{
	border-bottom: 1px solid #909090;
	border-left: 1px solid #909090;
	padding:5px;
}

table.list tfoot{
    background:#F0F0F0
}

table.list thead {
    background:#aed6ff;
	font-weight:bold;
}

table.list2 {
    background: #FFF;
    border-collapse:collapse;
    width: 100%;
	empty-cells: show;
	border-top: 1px solid #EEE;
	border-right: 1px solid #EEE;
	margin-bottom:5px;
}

table.list2 tbody {
    
}
table tr.row_second { background:#E6F7FF}
table.list2 tbody.second {
    background:#F3F3F3
}

table.list2 tbody.ilimit {
    background:#FF9
}
table.list2 tbody.limit {
    background:#FCF
}
table.list2 tbody:hover {
 	
}
table.list2 td{
	border-bottom: 1px solid #EEE;
	border-left: 1px solid #EEE;
	padding:5px;
}

table.list2 tfoot{
    background:#F0F0F0
}

table.list2 thead {
    background:#F0F0F0;
	font-weight:bold;
}

table.nlist {
	background: #FFF;
    border-collapse:collapse;
    width: 100%;
	empty-cells: show;
	margin-bottom:10px
}
table.nlist td{
    padding:5px;
}		

textarea { font-family:Arial; font-size:12px; padding:5px}
.div_full {
    width: 95%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header {
    padding: 10px 0px;
    width: 100%;
}
.footer {
    padding: 10px 0px;
    width: 100%;
	margin-top:20px
}
.menu_top{
	background:#04b5a5;
	border-bottom:1px solid #04b5a5;
}
.menu_top a{
	color:#FFF;
	padding:8px 12px;
	display:inline-block;
	border-left: 1px solid #84C1C1;
	border-right: 1px solid #408080;
	float:left;
	font-family:Arial;
	font-size:13px
}
.mark{ color:#F00}
.bl_title{float:left; display:inline-block; margin-right:10px}
.content_view{
	padding-right:30px; border-right: 1px solid #d1d1d1;
	margin-right:30px
}
.view_name{font-size: 24px;}
.view_aname{font-weight: bold; font-size: 20px;}
.view_alist{border-top: 1px solid #d1d1d1;margin-top:30px; padding:30px; }
.cpages{
	display:inline-block
}
.cpages a{
	padding:1px 8px;
	background:#0C0;
	color:#FFF;
	display:inline-block
}
.cpages strong{
	padding:1px 8px;
	background:#CCC;
	color:#333;
	display:inline-block
}

.edit-reg{
	float: right;
    text-transform: capitalize;
}
.data-stream{
	background: #38513e;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.description{
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 400px;
    overflow-y: scroll;
}
.list-review{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: inline-block;
	width: 100%
}
.ul-rev{
	list-style: none;
	padding: 20px;
}
.head-rev{
	width: 100%;
	float: left;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	background: #dedede;
}
.author{
	background: #fff80f;
	padding: 5px;
}
.num{
	background: #b9b7b7;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.num-title{
	font-size: 20px;
    width: 90%;
    float: left;
    margin-top: 5px;
}
.main-rev{
	border-left: 2px solid #cecece;
    margin-left: 20px;
	float: left;
	padding: 15px;
	width: 99.7%
}
.main-his{
	border-left: 2px solid #cecece;
    margin-left: 20px;
	height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
	float: left;
	padding: 15px
}

.cssRadius{
	border: 1px solid #C7C7C7;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.cssRadiusTop{
	border: 1px solid #C7C7C7;
	border-top: 10px solid rgb(103, 58, 183);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.cssRadius input[type="text"], .cssRadius input[type="password"]{
	border: none;
	border-bottom: 1px solid #C7C7C7;
	padding: 5px;
	outline:none;
	width: 200px
}
.cssRadius input[type="text"]:focus, .cssRadius input[type="password"]:focus{
	border: none;
	border-bottom: 1px solid #E423FF;
	outline:none;
}
.cssRadius table{
	width: 100%
}
/*start*/
.edit-reg{
	float: right;
    text-transform: capitalize;
}
.data-stream{
	background: #38513e;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.description{
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 400px;
    overflow-y: scroll;
}
.list-review{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: inline-block;
	width: 100%
}
.ul-rev{
	list-style: none;
	padding: 20px;
}
.head-rev{
	width: 100%;
	float: left;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	background: #dedede;
}
.author{
	background: #fff80f;
	padding: 5px;
}
.num{
	background: #b9b7b7;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.num-title{
	font-size: 20px;
    width: 90%;
    float: left;
    margin-top: 5px;
}
.main-rev{
	border-left: 2px solid #cecece;
    margin-left: 20px;
	float: left;
	padding: 15px;
	width: 99.7%
}
.main-his{
	border-left: 2px solid #cecece;
    margin-left: 20px;
    margin-bottom: 10px;
	float: left;
	padding: 15px
}
.content-rev{
	height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
input[type=reset], input[type=button], input[type=submit] {
    border: 0;
    padding: 6px 10px;
    color: #fff;
    background: #007fbb;
    text-align: center;
    cursor: pointer;
	border-radius: 3px;
}
.form-control-file {
    display: block;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.upload-div {
    background-color: #f3f3f3;
    color: #333;
    padding: 12px;
    box-shadow: 0 0px 10px 1px rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-size: 14px;
	display: flex;
}
.upload-div .col-md-4{float: left}
.upload-div h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #666;
    margin-top: 0;
}
.progress-bar-striped{
	height: 7px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.progress {
    display: flex;
    height: 10px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.ptitle{
	padding:10px;
	background:#F0F0F0;
	margin:5px 0px;
	border-radius:5px;
}
.bor-bot {
    border-bottom: 1px solid #d0d0d0!important;
}
.nav{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav>li,.nav>li>a{
    position:relative;
    display:block
}
.nav>li>a{
    padding:10px 15px
}
.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:#eee
}
.nav>li.disabled>a{
    color:#777
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:#eee;
    border-color:#337ab7
}
.nav .nav-divider{
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.nav>li>a>img{
    max-width:none
}
.nav-tabs{
    border-bottom:1px solid #ddd
}
.nav-tabs>li{
    float:left;
    margin-bottom:-1px
}
.nav-tabs>li>a{
    margin-right:2px;
    line-height:1.42857143;
    border:1px solid transparent;
    border-radius:4px 4px 0 0
}
.nav-tabs>li>a:hover{
    border-color:#eee #eee #ddd
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
    color:#555;
    cursor:default;
    background-color:#fff;
    border:1px solid #ddd;
    border-bottom-color:transparent
}
.nav-tabs.nav-justified{
    width:100%;
    border-bottom:0
}
.nav-tabs.nav-justified>li{
    float:none
}
.nav-tabs.nav-justified>li>a{
    margin-bottom:5px;
    text-align:center
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu{
    top:auto;
    left:auto
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.ml0{
    margin-left:0!important
}
.ml5{
    margin-left:5px!important
}
.ml7{
    margin-left:7px!important
}
.ml10{
    margin-left:10px
}
.mr10{
    margin-right:10px!important
}
.mr15{
    margin-right:15px
}
.mr20{
    margin-right:20px
}
.mr25{
    margin-right:25px
}
.mr40{
    margin-right:40px
}
.ml20{
    margin-left:20px!important
}
.ml25{
    margin-left:25px
}
.mb5{
    margin-bottom:5px
}
.mb10{
    margin-bottom:10px!important
}
.mb20{
    margin-bottom:20px!important
}
.mb25{
    margin-bottom:25px!important
}
.mb40{
    margin-bottom:40px!important
}
.mb30{
    margin-bottom:30px!important
}
.mb15{
    margin-bottom:15px
}
.m22{
    margin-top:2px;
    margin-left:2px
}
.mt0{
    margin-top:0!important
}
.mt2{
    margin-top:2px
}
.mt-5{
    margin-top:-5px
}
.mt5{
    margin-top:5px!important
}
.mt8{
    margin-top:8px
}
.mt10{
    margin-top:10px
}
.mt20{
    margin-top:20px
}
.ml2{
    margin-left:2px
}
.mt30{
    margin-top:30px
}
.mt40{
    margin-top:40px
}
.mt50{
    margin-top:50px
}
.mt55{
    margin-top:55px
}
.mb0{
    margin-bottom:0!important
}
.mt15{
    margin-top:15px
}
.mt10-0{
	margin: 10px 0;
}
.bold {
    font-weight: 700!important;
}
.padding5-10 {
    padding: 5px 0 !important;
}
.postop{
	position: absolute;
	top:5px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.span_edit{
	display: inline-block;
	background:#FF9122;
	color:#fff;
	padding: 2px 4px;
	border: 0px;
	border-radius: 3px;
	width: 50px;
}
.span_edit:hover{
	background:#F60;
	color:#fff;
}
.span_view{
	display: inline-block;
	background:#0C9;
	color:#fff;
	padding: 2px 4px;
	border: 0px;
	border-radius: 3px;
}
.span_view:hover{
	background:#0C3;
	color:#fff;
}
.span_del{
	display: inline-block;
	background: #FFF897;
	padding: 2px 4px;
	border: 0px;
	border-radius: 3px;
	width: 50px;
}
.span_refer{
	display: inline-block;
	background:#F90;
	padding: 2px 4px;
	border: 0px;
	border-radius: 3px;
	margin-bottom:3px;
	margin-right:3px;
}
.span_delrefer{
	display: inline-block;
	background:#F00;
	padding: 2px 4px;
	border: 0px;
	border-radius: 3px;
	margin-bottom:3px;
	margin-right:3px;
	color:#FFF
}

.bt_del{
	background: #FF191D !important;
	color: #fff !important;
}
.btn-info1{
	color: #fff;
    background-color: #ff0303;
    border-color: #ff0303;
}
.btn-info{
	color: #fff;
    background-color: #09F;
    border-color: #09F;
}
.btn-show{
	order: 0;
    padding: 5px 8px;
    color: #fff;
    background: #0B0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;	
	display:inline-block;
}
.btn-show:hover{
    color: #fff;
	background:#0C3;
}
.menuclick{
	display:none; 
	width:240px; 
	height:60px; 
	background:#138ab9;
	position:absolute; 
	right:5px;
	z-index:99999!important; 
	color:#066!important;
	text-align:left;
	padding:20px;
	
}
.menuclick a{
	float:none;
	border:0;
	padding:0;
}
.menuclick a:hover{
	color:#FFC
}
.crr{width: 0;
height: 0;
border-style: solid;
border-width: 0 0 7px 7px;
border-color: transparent transparent #ff0000 transparent; bottom:0; right:0; position:absolute
}
.menu_cate, .menu_cate_active{
	display:inline-block;
	padding:5px 10px;
	border-right:1px solid #CCC
}
.menu_cate_active{
	background:#fff;
	border-right:1px solid #CCC;
	color:#F60;
	font-weight:bold
}
.menu_cate_active a{
	color:#F60;
}
.amtinh{
	font-weight:bold;
	color:#093
}
.duongtinh{
	font-weight:bold;
	color:#F00
}
.duonggop{
	font-weight:bold;
	color:#F90
}
#capchar {
	font-size:30px; background:#333; color:#FFF; font-family:Verdana; text-align: center; padding: 4px;
    -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */ 
     -khtml-user-select: none; /* Konqueror HTML */ 
       -moz-user-select: none; /* Firefox */ 
        -ms-user-select: none; /* Internet Explorer/Edge */ 
            user-select: none; /* Non-prefixed version, currently  supported by Chrome and Opera */ 
}
.pages{
    display: inline-block;
}
.pages a{
    display: inline-block;
    border: 1px solid #B3B3B3;
    padding: 2px 6px;
}
.pages strong{
    display: inline-block;
    border: 1px solid #B3B3B3;
    padding: 2px 6px;
    background: #B2FFF6
}
.maxw140px{ max-width:140px}
.warring{ color:#F90 }
.idshowm{
	display:none;
	width:200px;
	position:absolute;
	top:28px;
	left:0;
	z-index:999; 
	background:#FFF;
	border: 1px solid #C7C7C7;
    border-top: 8px solid rgb(70 193 251);
	border-bottom: 4px solid rgb(55 168 221);
    padding: 10px 15px;
    border-radius: 5px;
}