<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="false">
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".gif" allowed="true" />
					<add fileExtension=".js" allowed="true" />
					<add fileExtension=".css" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
